.thin-line {
  background-color: #ffffff75;
  height: 3px;
  opacity: .4; }

p, span, *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #fff;
  font-family: 'PT Sans', sans-serif; }

.feature {
  padding: 8em 10rem; }

.heading-first {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 8rem;
  color: #fff;
  margin-bottom: 5rem;
  letter-spacing: .3rem;
  text-align: center; }

.heading-second {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.6rem;
  color: #40474e;
  margin-bottom: 3rem; }

.heading-third {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #40474e;
  margin-bottom: 3rem; }

.heading-third-white {
  color: #fff; }

.parag {
  font-size: 1.7rem;
  color: #787b80;
  line-height: 2.6rem; }
  .parag:not(:last-child) {
    margin-bottom: 3rem; }

.button-prim, .button-prim:link, .button-prim:visited {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.5rem;
  border: none;
  transition: all .3s;
  display: inline-block;
  padding: .7rem 1.8rem;
  border-radius: 10rem;
  color: #f5f5f5;
  background-color: #50c3af; }

.button-prim:hover {
  cursor: pointer;
  padding-right: 2.4rem;
  background-color: #37a08e; }

.button-prim:active, .button-prim:focus {
  outline: none; }

.button-prim.button-light {
  color: #f5f5f5;
  background-color: #bec1c5; }
  .button-prim.button-light:hover {
    background-color: #9fa0a1; }

.button-prim.button-big {
  text-transform: uppercase;
  padding: 1.7rem 5rem;
  font-weight: bold; }
  .button-prim.button-big:hover {
    padding-right: 6rem; }

.button-sec, .button-sec:link, .button-sec:visited {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.5rem;
  border: none;
  transition: all .3s;
  display: inline-block;
  color: #50c3af; }

.button-sec::after {
  content: ">";
  color: #50c3af;
  margin-left: 1rem;
  transition: all .3s; }

.button-sec:hover, .button-sec:hover::after {
  color: #37a08e; }

.button-sec:hover::after {
  margin-left: 1.5rem; }

.feature-one {
  background-color: #fffcdd99;
  text-align: center; }
  .feature-one .fone-content:not(:last-child) {
    padding-right: 4rem; }
  .feature-one .fone-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .feature-one .fone-box.last {
    padding-right: 0rem; }
  .feature-one .fone-img {
    height: 4rem;
    width: auto;
    margin-bottom: 4rem; }
  .feature-one .thin-line {
    width: 60%; }

.feature-two {
  background-color: #f5f5f5; }
  .feature-two .ftwo-img {
    margin-bottom: 4rem; }

.feature-three {
  background-color: #fffcdd99; }
  .feature-three .fthree-img {
    height: 3rem;
    margin-right: 1.5rem; }
  .feature-three .fthree-heading {
    display: flex; }

.featured {
  background-color: #50c3af;
  text-align: center; }
  .featured .feat-heading {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 5rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid #fffcdd30; }
  .featured .feat-img {
    height: 2.5rem;
    margin-right: 1rem; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/photo1.jpg");
  background-size: cover;
  background-position: top;
  padding: 0rem 1rem;
  min-height: 500px; }
  .header .header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 85vh;
    padding-top: 10rem; }
  .header .logo-box {
    margin-bottom: 4rem; }
  .header .main-nav, .header .header-text-box {
    margin-bottom: 8rem; }
  .header .header-text-box {
    display: flex;
    align-items: center; }
  .header .htbox-text {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0rem 4rem;
    text-align: center; }
  .header .thin-line {
    flex: 1;
    width: 150px;
    margin-bottom: 0rem; }

.main-nav {
  display: flex;
  justify-content: center;
  transition: all .3s; }
  .main-nav .mnav-item {
    text-transform: uppercase; }
    .main-nav .mnav-item:not(:last-child) {
      margin-right: 4rem; }
  .main-nav .mnav-link {
    color: #fff;
    transition: .3s;
    font-size: 1.6rem;
    line-height: 3rem; }
    .main-nav .mnav-link:hover {
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: bold; }
  .main-nav .mnav-button {
    font-size: 1.7rem;
    background-color: #fff;
    opacity: 1; }
    .main-nav .mnav-button:active, .main-nav .mnav-button:focus {
      outline: none; }
  .main-nav .navbar-toggler-icon {
    width: 1.2em;
    height: 1.2em; }

.footer {
  padding: 3rem 10rem; }
  .footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem; }
  .footer .footer-text {
    color: #787b80; }
  .footer .footer-text-inner {
    color: #40474e; }
  .footer .footer-icon {
    height: 2rem; }

@media (max-width: 1280px) {
  html {
    font-size: 57%; }
  .header .thin-line {
    width: 140px; } }

@media (max-width: 1024px) {
  .feature {
    padding: 6em 8rem; } }

@media (max-width: 900px) {
  .feature {
    padding: 4em 6rem; }
  .feature-one .fone-content:not(:last-child) {
    padding-right: 2rem; }
  .heading-second {
    font-size: 2.2rem; }
  .heading-third {
    font-size: 2rem; }
  .parag {
    font-size: 1.6rem; }
  .heading-first {
    font-size: 6rem; }
  .header .htbox-text {
    font-size: 1.8rem; }
  .header .thin-line {
    width: 80px; } }

@media (max-width: 767px) {
  .header .header-content {
    padding-top: 20vh; }
  .feature {
    padding: 4em 0rem; }
  .feature-one .fone-content:not(:last-child) {
    padding-right: 1.5rem;
    margin-bottom: 5rem; }
  .feature-one .fone-img {
    margin-bottom: 2rem;
    height: 3.5rem; }
  .feature-one .heading-third {
    margin-bottom: 2rem; }
  .feature-one .parag {
    padding: 0rem 10vw; }
  .feature.feature-two {
    padding: 0rem; }
  .feature-two .ftwo-content {
    padding: 0rem 2rem 4rem 2rem; }
  .feature-three .fhree-box:not(:last-child) {
    margin-bottom: 5rem; }
  .feature-three .fthree-img {
    height: 2.3rem; }
  .featured .feat-item:first-child {
    margin-bottom: 4rem; }
  .footer {
    padding: 3rem 0rem; }
  .content {
    position: relative; }
  .main-nav {
    z-index: 2;
    position: fixed;
    top: 0rem;
    width: 100%;
    justify-content: flex-start;
    padding-top: 2rem;
    padding-left: 2rem; }
    .main-nav.active {
      background-color: #000;
      opacity: .9; }
    .main-nav #navbarSupportedContent {
      margin-top: 2rem; }
    .main-nav .mnav-item {
      margin-bottom: 3rem; }
    .main-nav .mnav-link:hover {
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: normal; } }

@media (max-width: 576px) {
  .featured .feat-item:not(:last-child) {
    margin-bottom: 3rem; }
  .featured .feat-item:first-child {
    margin-bottom: 3rem; }
  .footer .footer-content {
    flex-direction: column; }
  .footer .footer-text {
    margin-bottom: 2rem; }
  .heading-first {
    font-size: 4rem; }
  .header .thin-line {
    display: none; }
  .header .lbox-icon {
    height: 4rem; } }

@media screen and (width: 320px) {
  .header .header-content {
    padding-top: 3rem; } }
