
@mixin headingMixin($fontSize, $color, $marginBottom) {
    font-weight: bold;
    text-transform: uppercase;
    font-size: $fontSize;
    color: $color;
    margin-bottom: $marginBottom;
}

@mixin buttonMixin {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.5rem;
    border: none;
    transition: all .3s;
    display: inline-block;
}