@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/utilities";

@import "base/base";
@import "base/typography";

@import "components/button";
@import "components/feature-one";
@import "components/feature-two";
@import "components/feature-three";
@import "components/featured";

@import "layout/header";
@import "layout/navigation";
@import "layout/footer";

@import "pages/home";

@import "themes/themes";

@import "vendors/vendors";


@media (max-width: 1280px) {
    html {
         font-size: 57%; 
     }

     .header .thin-line {
         width: 140px;
     }
}

@media (max-width: 1024px) {
    .feature {
        padding: 6em 8rem;
    }
}

@media (max-width: 900px) {
    .feature {
        padding: 4em 6rem;
    }
    .feature-one .fone-content:not(:last-child) {
        padding-right: 2rem;
    }

    .heading-second {
        font-size: 2.2rem;
    }

    .heading-third{
        font-size: 2rem;
    }

    .parag {
        font-size: 1.6rem;
    }

    .heading-first {
        font-size: 6rem;
    }

    .header  {

        & .htbox-text {
            font-size: 1.8rem;
        }

        & .thin-line {
            width: 80px;
        }
    }
}

@media (max-width: 767px) {

    .header .header-content {
           padding-top: 20vh;
        }

    .feature {
        padding: 4em 0rem;
    }
    .feature-one {
        
        & .fone-content:not(:last-child) {
            padding-right: 1.5rem;
            margin-bottom: 5rem;
        }

        & .fone-img {
            margin-bottom: 2rem;
            height: 3.5rem;
        }

        & .heading-third {
            margin-bottom: 2rem;
        }

        & .parag {
            padding: 0rem 10vw;
        }

    }

    .feature.feature-two {
        padding: 0rem;
    }

    .feature-two {

        & .ftwo-content {
            padding: 0rem 2rem 4rem 2rem;
        }
    }

    .feature-three {

        & .fhree-box:not(:last-child) {
            margin-bottom: 5rem;
        }

        & .fthree-img {
            height: 2.3rem;
        }
    } 

    .featured {

        & .feat-item:first-child {
            margin-bottom: 4rem;
        }
    }

    .footer {
        padding: 3rem 0rem;
    }

    .content {
        position: relative;
    }

    .main-nav {
        z-index: 2;
        position: fixed;
        top: 0rem;
        width: 100%;
        justify-content: flex-start;
        padding-top: 2rem;
        padding-left: 2rem;

        &.active {
            background-color: #000;
            opacity: .9;
        }

        & #navbarSupportedContent {
            margin-top: 2rem;
        }

        & .mnav-item {
            margin-bottom: 3rem
        }

        & .mnav-link:hover {
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: normal;
        }
    }

}

@media (max-width: 576px) {

    .featured {

        & .feat-item:not(:last-child) {
            margin-bottom: 3rem;
        }
    
        & .feat-item:first-child {
            margin-bottom: 3rem;
        }
    }

    .footer {

        & .footer-content {
            flex-direction: column;
        }

        & .footer-text {
            margin-bottom: 2rem;
        }
    }

    .heading-first {
        font-size: 4rem;
    }

    .header  {

        & .thin-line {
            display: none;
        }

        & .lbox-icon {
            height: 4rem;
        }
    }

    .feature-one {
        & .parag {

        }
    }

}

@media screen and (width: 320px) {
    .header .header-content {
        padding-top: 3rem;
    }
}


