.footer {
    padding: 3rem 10rem;
    
    & .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.6rem;
    }

    & .footer-text {
        color: $colorGrey2;
    }

    & .footer-text-inner {
        color: $colorGrey1;
    }

    & .footer-icon {
        height: 2rem;
    }
}