.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, rgba($colorBlack1, 0.3), rgba($colorBlack1, 0.3)),url('../img/photo1.jpg');
    background-size: cover;
    background-position: top;
    padding: 0rem 1rem;
    min-height: 500px;

    & .header-content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        height: 85vh;
        padding-top: 10rem;
    }

    & .logo-box {
        margin-bottom: 4rem;
    }

    & .main-nav, & .header-text-box {
        margin-bottom: 8rem;
    }

    & .header-text-box {
        display: flex;
        align-items: center;
    }

    & .htbox-text {
        font-size: 2rem;
        color: $colorWhite1;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0rem 4rem;
        text-align: center;
    }

    & .thin-line {
        flex: 1;
        width: 150px;
        margin-bottom: 0rem;
    }

}