.main-nav {
    display: flex;
    justify-content: center;
    transition: all .3s;

    & .mnav-item {
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 4rem;
        }
    }

    & .mnav-link {
        color: $colorWhite1;
        transition: .3s;
        font-size: 1.6rem;
        line-height: 3rem;

        &:hover {
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: bold;
        }
    }

    & .mnav-button {
        font-size: 1.7rem;
        background-color: #fff;
        opacity: 1;

        &:active, &:focus {
            outline: none;
        }
    }

    & .navbar-toggler-icon {
        width: 1.2em;
        height: 1.2em;
    }
}