.button-prim {
    &, &:link, &:visited {
        @include buttonMixin;
        padding: .7rem 1.8rem;
        border-radius: 10rem;
        color: $colorWhite3;
        background-color: $colorGreen1;
    }
    
    &:hover {
        cursor: pointer;
        padding-right: 2.4rem;
        background-color: $colorGreen2;
    }
    
    &:active,
    &:focus {
        outline: none;
    }

    &.button-light {
        color: $colorWhite3;
        background-color: $colorGrey3;

        &:hover {
            background-color: $colorGrey4;
        }
    }

    &.button-big {
        text-transform: uppercase;
        padding: 1.7rem 5rem;
        font-weight: bold;

        &:hover {
            padding-right: 6rem;
        }
    }
}

.button-sec {
    &, &:link, &:visited {
        @include buttonMixin;
        color: $colorGreen1;
    }

    &::after {
        content: ">";
        color: $colorGreen1;
        margin-left: 1rem;
        transition: all .3s;
    }

    &:hover,  &:hover::after {
        color: $colorGreen2;
    }

    &:hover::after {
        margin-left: 1.5rem;
    }
}