.featured {
    background-color: $colorGreen1;
    text-align: center;

    & .feat-heading {
        display: inline-flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 5rem;
        padding-bottom: 3rem;
        border-bottom: 2px solid #fffcdd30;
    }

    & .feat-img {
        height: 2.5rem;
        margin-right: 1rem;
    }
}