.feature-one {
    background-color: $colorWhite2;
    text-align: center;

    & .fone-content:not(:last-child) {
        padding-right: 4rem;
    }

    & .fone-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    & .fone-box.last {
        padding-right: 0rem;
    }

    & .fone-img {
        height: 4rem;
        width: auto;
        margin-bottom: 4rem;
    }

    & .thin-line {
        width: 60%;
    }
}