// headingMixin params are font-size, color and margin-bottom

.heading-first {
    @include headingMixin(8rem, $colorWhite1, 5rem);
    letter-spacing: .3rem;
    text-align: center;
}

.heading-second {
    @include headingMixin(2.6rem, $colorGrey1, 3rem);
}

.heading-third {
    @include headingMixin(2.4rem, $colorGrey1, 3rem);
}

.heading-third-white {
    color: $colorWhite1;
}

.parag {
    font-size: 1.7rem;
    color: $colorGrey2;
    line-height: 2.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

